/* Tailwind CSS Configuration */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Times New Roman", Times, serif;
    background-color: #f8f8f8; /* off white */
    color: #000; /* black text */
  }

  .bg-off-white {
    background-color: #f8f8f8; /* off white */
  }
}
